@font-face {
    font-family: shlop;
    src: url("assets/shloprg.ttf");
    }
@font-face {
    font-family: shlop;
    src: url("assets/shloprg.ttf");
    font-weight: bold;
    }
.container-fluid {
	background-color: black;
	padding-bottom:  100%;
	}
.container {
	background-color: black;
	}
header {
	text-align: center;
	}
h1 {
	font-family: shlop;
	font-weight: bold;
	font-size: 125px;
	color: #8A0707;
	}

.square {
	border-style: solid;
	border-color: #8A0707;
	border-radius: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	}
.smsquare {
	border-style: solid;
	border-color: #8A0707;
	border-radius: 25px;
	padding-bottom: 4px;
	padding-top: 4px;
	/* display: inline-block; */
	/* margin: 0 auto; */
	}
.bloody {
	font-family: shlop;
	color: #8A0707;
	}
.rotate {
    float:left;
    transform: rotate(-90deg);
}​
.big, .score {
font-size: 100%;
}
.score { 
font-size: 55px;
vertical-align: top;
text-align: center;
 /*width: 100%; */
 /* padding-bottom: 75%; */
 }
.reset { 
font-size: 35px;
vertical-align: top;
text-align: center;
 /*width: 100%; */
 /* padding-bottom: 75%; */
 }
.hid {
	visibility: hidden;
}
h2 {
font-size: 45px;
}
.scoreSquare1{
background:'src', '.assets/toe2crop.jpg';
background-size:100 100;
}
.scoreSquare2{
background:'src', 'assets/toe2crop.jpg';
background-size:100% 100%;
}
img{
margin:0 auto;
}

